* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #EC715F;
  margin: 0 auto;
  text-align: center;
}

.header-box {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.logo {
  height: 70px;
}

.navbar {
  margin-left: auto;
}

.nav-list {
  font-size: 16px;
  color: #FAFAFA;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin:0 30px;
  text-align: center;
  line-height: 70px;
}

.main-visual {
  margin: 0 auto;
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: bottom;
  text-align: center;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}

.main-visual-body {
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}

.title {
  padding: 90px 0 8px 0;
  font-size: 32px;
  color: #000000;
}

.border {
  margin: 0 auto;
  width: 70px;
  border-bottom: 3px solid #EC715F;
}

.body {
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
}

.Portfolio {
  width: 100%;
  background-color: #ECEFF1;
  text-align: center;
}

.Portfolio .boxes {
  margin: 0 auto;
  width: 920px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.Portfolio .box {
  margin-right: 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.Portfolio .box:nth-child(3n) {
  margin-right: 0;
}

.Portfolio .box:nth-child(1) {
  margin-bottom: 10px;
  background-image: url(img/sketch.jpg);
}

.Portfolio .box:nth-child(2) {
  margin-bottom: 10px;
  background-image: url(img/websuku.png);
}

.Portfolio .box:nth-child(3) {
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
}

.Portfolio .box:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.Portfolio .box:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.Portfolio .box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.Feature {
  width: 100%;
  text-align: center;
  padding-bottom: 90px;
}

.Feature .boxes {
  margin: 0 auto;
  width: 980px;
  display: flex;
}

.Feature .box {
  padding-right: 10px;
  width: 320px;
  text-align: center;
}

.Feature .box:last-child {
  margin-right: 0;
}

.strength > i {
  font-size: 60px;
}

.sub-title {
  margin: 10px 0;
  font-size: 20px;
  color: #000000;
}

.sub-body {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.Profile {
  margin: 0 auto;
  padding-bottom: 90px;
  width: 100%;
  background-color: #ECEFF1;
  text-align: center;
}

.Profile .boxes {
  margin: 0 auto;
  width: 1024px;
  display: flex;
  text-align: center;
}

.Profile .boxes .box {
  width: 512px;
}

.Profile .boxes .box:first-child {
  text-align: center;
}

.Profile .boxes .box:last-child {
  text-align: left;
}

.icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.name {
  margin-top: 30px;
  font-size: 20px;
}

.skills {
  margin-top: 20px;
  font-size: 20px;
}

.comment {
  margin-top: 5px;
  font-size: 16px;
  color: #000000;
}

.Contact {
  margin: 0 auto;
  padding-bottom: 90px;
  width: 100%;
  text-align: center;
}

.Contact .boxes {
  margin: 0 auto;
  width: 800px;
  display: flex;
  text-align: center;
}

.Contact .boxes .box {
  padding: 0 105px;
  width: 400px;
  text-align: center;
}

.contact-title1 {
  font-size: 20px;
  text-align: left;
}

.contact-title2 {
  margin-top: 20px;
  font-size: 20px;
  text-align: left;
}

.contact-body {
  padding-top: 5px;
  text-align: left;
}

.icon-name {
  padding-bottom: 5px;
  font-size: 20px;
  text-align: left;
}

.icons {
  display: flex;
}

.icons > i {
  padding-right: 20px;
  font-size: 50px;
}

.icons > i:last-child {
  padding-right: 0;
}

footer {
  height: 60px;
  background-color: #EC715F;
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width:768px) {
  .header-box {
    width: 90%;
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  /*.navbar {*/
  /*  margin-left: auto;*/
  /*}*/

  /*.nav-list {*/
  /*  font-size: 16px;*/
  /*  color: #FAFAFA;*/
  /*}*/

  .main-visual {
    background-image: url(img/code.png);
    background-size: 200%;
    background-position: center;
  }
  .main-visual-title {
    width: 90%;
    font-size: 40px;
  }

  .main-visual-body {
    width: 90%;
    font-size: 18px;
  }

  .title, .body {
    width: 90%;
  }

  /*.Portfolio {*/
  /*  background-color: #ECEFF1;*/
  /*  text-align: center;*/
  /*}*/

  .Portfolio .boxes {
    width: 300px;
    display: block;
  }

  .Portfolio .box {
    margin-right: 0;
  }

  .Portfolio .box:nth-child(1) {
    background-image: url(img/websuku.png);
  }

  .Portfolio .box:nth-child(2) {
    background-image: url(img/webcamp.png);
  }

  .Portfolio .box:nth-child(3) {
    margin-bottom: 0;
    background-image: url(img/webcamp-mother.png);
  }

  .Portfolio .box:nth-child(4) {
    background-image: none;
  }

  .Portfolio .box:nth-child(5) {
    background-image: none;
  }

  .Portfolio .box:nth-child(6) {
    background-image: none;
  }

  /*.Feature {*/
  /*  width: 100%;*/
  /*  text-align: center;*/
  /*  padding-bottom: 90px;*/
  /*}*/

  .Feature .boxes {
    margin: 0 auto;
    width: 90%;
    display: block;
  }

  .Feature .box {
    padding-right: 0;
    width: 100%;
  }

  .strength > i {
    font-size: 60px;
  }

  /*.sub-title {*/
  /*  margin: 10px 0;*/
  /*  font-size: 20px;*/
  /*  color: #000000;*/
  /*}*/

  /*.sub-body {*/
  /*  text-align: left;*/
  /*  font-size: 16px;*/
  /*  color: #000000;*/
  /*}*/

  /*.Profile {*/
  /*  margin: 0 auto;*/
  /*  padding-bottom: 90px;*/
  /*  width: 100%;*/
  /*  background-color: #ECEFF1;*/
  /*  text-align: center;*/
  /*}*/

  .Profile .boxes {
    width: 90%;
    display: block;
  }

  .Profile .boxes .box {
    width: 100%;
  }

  /*.Profile .boxes .box:first-child {*/
  /*  text-align: center;*/
  /*}*/

  /*.Profile .boxes .box:last-child {*/
    /*text-align: center;*/
  /*}*/

  /*.icon {*/
  /*  width: 250px;*/
  /*  height: 250px;*/
  /*  border-radius: 50%;*/
  /*}*/

  .name {
    margin-top: 20px;
  }

  /*.skills {*/
  /*  margin-top: 20px;*/
  /*  font-size: 20px;*/
  /*}*/

  /*.comment {*/
  /*  margin-top: 5px;*/
  /*  font-size: 16px;*/
  /*  color: #000000;*/
  /*}*/

  .Contact {
    /*margin: 0 auto;*/
    /*padding-bottom: 90px;*/
    /*width: 100%;*/
    /*text-align: center;*/
  }

  .Contact .boxes {
    /*margin: 0 auto;*/
    width: 90%;
    display: block;
    text-align: center;
  }

  .Contact .boxes .box {
    padding: 0 105px;
    width: 90%;
    /*text-align: center;*/
  }

  .contact-title1 {
    /*font-size: 20px;*/
    text-align: center;
  }

  .contact-title2 {
    /*margin-top: 20px;*/
    /*font-size: 20px;*/
    text-align: center;
  }

  .contact-body {
    /*padding-top: 5px;*/
    text-align: center;
  }

  .icon-name {
    padding-top: 20px;
    /*font-size: 20px;*/
    text-align: center;
  }

  .icons {
    text-align: center;
  }

  .icons > i {
    padding-right: 8px;
    font-size: 50px;
    text-align: center;
  }

  /*.icons > i:last-child {*/
  /*  padding-right: 0;*/
  /*}*/

  footer {
    height: 60px;
    background-color: #EC715F;
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    line-height: 60px;
  }
}