* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #EC715F;
  margin: 0 auto;
  text-align: center;
}

.header-box {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}

.logo {
  height: 70px;
}

.navbar {
  margin-left: auto;
}

.nav-list {
  font-size: 16px;
  color: #FAFAFA;
}

.nav-list-item {
  margin:0 30px;
  list-style: none;
  display: inline-block;
  text-align: center;
  line-height: 70px;
}

.main-visual {
  margin: 0 auto;
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: bottom;
  text-align: center;
}

.main-visual-title {
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}

.main-visual-body {
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}

.title {
  padding: 90px 0 8px 0;
  font-size: 32px;
  color: #000000;
}

.border {
  margin: 0 auto;
  width: 70px;
  border-bottom: 3px solid #EC715F;
}

.body {
  padding: 30px 0;
  font-size: 16px;
  color: #000000;
}

.Portfolio {
  width: 100%;
  background-color: #ECEFF1;
  text-align: center;
}

.Portfolio .boxes {
  margin: 0 auto;
  width: 920px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.Portfolio .box {
  margin-right: 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.Portfolio .box:nth-child(3n) {
  margin-right: 0;
}

.Portfolio .box:nth-child(1) {
  margin-bottom: 10px;
  background-image: url(img/sketch.jpg);
}

.Portfolio .box:nth-child(2) {
  margin-bottom: 10px;
  background-image: url(img/websuku.png);
}

.Portfolio .box:nth-child(3) {
  margin-bottom: 10px;
  background-image: url(img/write.jpg);
}

.Portfolio .box:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.Portfolio .box:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.Portfolio .box:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.Feature {
  width: 100%;
  text-align: center;
  padding-bottom: 90px;
}

.Feature .boxes {
  margin: 0 auto;
  width: 980px;
  display: flex;
}

.Feature .box {
  padding-right: 10px;
  width: 320px;
  text-align: center;
}

.Feature .box:last-child {
  margin-right: 0;
}

.strength > i {
  font-size: 60px;
}

.sub-title {
  margin: 10px 0;
  font-size: 20px;
  color: #000000;
}

.sub-body {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.Profile {
  margin: 0 auto;
  padding-bottom: 90px;
  width: 100%;
  background-color: #ECEFF1;
  text-align: center;
}

.Profile .boxes {
  margin: 0 auto;
  width: 1024px;
  display: flex;
  text-align: center;
}

.Profile .boxes .box {
  width: 512px;
}

.Profile .boxes .box:first-child {
  text-align: center;
}

.Profile .boxes .box:last-child {
  text-align: left;
}

.icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.name {
  margin-top: 30px;
  font-size: 20px;
}

.skills {
  margin-top: 20px;
  font-size: 20px;
}

.comment {
  margin-top: 5px;
  font-size: 16px;
  color: #000000;
}

.Contact {
  margin: 0 auto;
  padding-bottom: 90px;
  width: 100%;
  text-align: center;
}

.Contact .boxes {
  margin: 0 auto;
  width: 800px;
  display: flex;
  text-align: center;
}

.Contact .boxes .box {
  padding: 0 105px;
  width: 400px;
  text-align: center;
}

.contact-title1 {
  font-size: 20px;
  text-align: left;
}

.contact-title2 {
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
}

.contact-body {
  padding-top: 5px;
  text-align: left;
}

.icon-name {
  padding-bottom: 5px;
  font-size: 20px;
  text-align: left;
}

.icons {
  display: flex;
}

.icons > i {
  padding-right: 20px;
  font-size: 50px;
}

.icons > i:last-child {
  padding-right: 0;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

footer {
  height: 60px;
  background-color: #EC715F;
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}

@media(min-width:751px){
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width:768px) {
  .header-box {
    width: 90%;
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  .nav-list {
    display: none;
  }

  .menu-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #000000;
  }

  .menu-btn:hover {
    cursor: pointer;
  }

  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #FFFFFF;
    position: absolute;
  }

  .menu-btn span:before {
    bottom: 8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check {
    display: none;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255,255,255,0);
  }

  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .menu-content {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #000000;
    transition: all 0.5s;
  }

  .hamburger-list {
    padding: 70px 10px 0;
  }

  .hamburger-item {
    border-bottom: 1px solid #FFFFFF;
    display: block;
  }

  .hamburger-link {
    padding: 9px 15px 10px 0;
    width: 100%;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 30%;
  }

  .main-visual {
    background-image: url(img/code.png);
    background-size: 200%;
    background-position: center;
  }
  .main-visual-title {
    margin: 0 auto;
    width: 90%;
    font-size: 40px;
  }

  .main-visual-body {
    margin: 0 auto;
    width: 90%;
    font-size: 18px;
  }

  .title,
  .body {
    margin: 0 auto;
    width: 90%;
  }

  .Portfolio .boxes {
    width: 300px;
    display: block;
  }

  .Portfolio .box {
    margin-right: 0;
  }

  .Portfolio .box:nth-child(1) {
    background-image: url(img/websuku.png);
  }

  .Portfolio .box:nth-child(2) {
    background-image: url(img/webcamp.png);
  }

  .Portfolio .box:nth-child(3) {
    margin-bottom: 0;
    background-image: url(img/webcamp-mother.png);
  }

  .Portfolio .box:nth-child(4),
  .Portfolio .box:nth-child(5),
  .Portfolio .box:nth-child(6) {
    display: none;
  }

  .Feature .boxes {
    margin: 0 auto;
    width: 90%;
    display: block;
  }

  .Feature .box {
    margin: 0 auto;
    padding-right: 0;
  }

  .Feature .box:last-child {
    margin: 0 auto;
  }

  .strength {
    margin-top: 10px;
  }

  .strength:firast-child {
    margin-top: 0;
  }

  .strength > i {
    font-size: 60px;
  }

  .Profile .boxes {
    width: 90%;
    display: block;
  }

  .Profile .boxes .box {
    margin: 0 auto;
  }

  .name,
  .skills {
    margin-top: 20px;
    text-align: center;
  }

  .comment {
    text-align: center;
  }

  .Contact .boxes {
    width: 90%;
    display: block;
  }

  .Contact .boxes .box {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }

  .contact-title1 {
    text-align: center;
  }

  .contact-title2 {
    text-align: center;
  }

  .contact-body {
    text-align: center;
  }

  .icon-name {
    padding-top: 20px;
    text-align: center;
  }

  .icons {
    margin: 0 auto;
    width: 166px;
    text-align: center;
  }

  .icons > i {
    padding-right: 8px;
    font-size: 50px;
    text-align: center;
  }


}